extends layout

block content
  p Welcome to #{title}

  h2 Add a message to the message board

  form(method="POST" action="/new")
    textarea(name="msgTxt" placeholder="Your message" required)
    input(name="msgAuthor" placeholder="Your name")
    button Submit