body {
  padding: 10vw;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.add {
  padding-top: .5rem;
}

.message {
  margin-block: 3rem;
  max-width: min(90vw, 600px);
}

.message p {
  padding-top: .4rem;
  opacity: .6;
}

form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  max-width: min(90vw, 600px);
}